<div class="">
    <app-navbar></app-navbar>
<div class="banner">
    <div class="banner-pic">
    </div>
    <div class="banner-button">
        <button (click)="onBookAppointment()" class="btn btn-dark"> <a routerLink="/appointment" class="nav-link"></a>
            .. Book Appoinment
        
        </button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"> <img src="../assets/homePage/images/timeForChange.png" alt="Time for Change"
                class="img-fluid"> </div>
        <div class="col-md-8 text-content">
            <div class="container">
                <h1>TIME FOR A CHANGE?</h1>
                <p> As the premier beauty salon in Dhanmondi, we love connecting with new members from our community
                    every day. With a relaxing atmosphere and exceptional attention to detail, we provide all our
                    clients
                    with an experience they crave coming back for. Let us create a look to showcase your unique
                    individuality. We help discover the designs that accentuate your natural features while staying true
                    to
                    your personal style. If you’re thinking about what style to go for next, speak to your stylist,
                    together
                    we can find your perfect new look. </p>

            </div>
            <!-- <div class="banner-buttons">
                <button class="btn btn-dark">
                    .. Book Appoinment
                </button>
            </div> -->
        </div>
    </div>

</div>

<div class="container">
    <div class="col">
        <div class="row row-cols-4 justify-content-center align-items-center g-2">
            <div class="col">
                <p>Our Services</p>
            </div>

        </div>
        <div class="row row-cols-4 justify-content-center align-items-center g-2">
            <div class="col">
                <h2>WHAT WE DO???</h2>
            </div>

        </div>
    </div>
    <div id="cardsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/nailextention.png" class="card-img-top"
                                alt="NailExtension">
                            <div class="card-body">
                                <p class="card-text">NAIL EXTENSION</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/haircolor.jpg" class="card-img-top"
                                alt="HairColor">
                            <div class="card-body">
                                <p class="card-text">HAIR COLOR</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/threading.png" class="card-img-top"
                                alt="Threading">
                            <div class="card-body">
                                <p class="card-text">THREADING</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/pedicure.png" class="card-img-top"
                                alt="Pedicure">
                            <div class="card-body">
                                <p class="card-text">PEDICURE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/lash-extensions.jpg" class="card-img-top"
                                alt="LashExtension">
                            <div class="card-body">
                                <p class="card-text">LASH EXTENSION</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/henna.png" class="card-img-top"
                                alt="Henna">
                            <div class="card-body">
                                <p class="card-text">HENNA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/manicure.png" class="card-img-top"
                                alt="Manicure">
                            <div class="card-body">
                                <p class="card-text">MANICURE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/indianbridal.png" class="card-img-top"
                                alt="BridalMakeover">
                            <div class="card-body">
                                <p class="card-text">BRIDAL MAKEOVER</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/ourservices.jpg" class="card-img-top"
                                alt="Facial">
                            <div class="card-body">
                                <p class="card-text">FACIAL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/makeup.png" class="card-img-top"
                                alt="MakeUp">
                            <div class="card-body">
                                <p class="card-text">MAKEUP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/oilmessage.png" class="card-img-top"
                                alt="OilMessage">
                            <div class="card-body">
                                <p class="card-text">OIL MASSAGE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/piercing.png" class="card-img-top"
                                alt="Piercing">
                            <div class="card-body">
                                <p class="card-text">PIERCING</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/spa.jpg" class="card-img-top" alt="SPA">
                            <div class="card-body">
                                <p class="card-text">SPA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/waxing.png" class="card-img-top"
                                alt="Waxing">
                            <div class="card-body">
                                <p class="card-text">WAXING</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/keratin-hair-treatment.jpg"
                                class="card-img-top" alt="Keratin">
                            <div class="card-body">
                                <p class="card-text">KERATIN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img src="../assets/homePage/images/hairextention.png" class="card-img-top"
                                alt="HairExtension">
                            <div class="card-body">
                                <p class="card-text">HAIR EXTENSION</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#cardsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button"
            data-bs-target="#cardsCarousel" data-bs-slide="next"> <span class="carousel-control-next-icon"
                aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
    </div>


</div>

<div class="fix-pic">
    <div class="container">
       <div class="row " >
        <div class="col-md-6">
            
        </div>

        <div class="col-md-6  align-items-center mt-5">
            <div class="text-over ">
                <h1>A WARM WELCOME</h1>
            </div>
            <div class="text-down">
                <p>Come and experience the personal touch at Soft Touch Beauty. A bright and spacious space with
                    relaxing and uplifting environment where you are cared for. We believe that everyone deserves to
                    look and feel their best. At our professionally designed and elegant beauty lounge in Barrie, we
                    help you Blume into your most radiant self. Our experienced and talented stylists will work with you
                    to create a look that works for your personality and lifestyle.</p>
            </div>
        </div>
       </div>
    </div>

</div>



<app-footer></app-footer>
</div>