<div class="collapse" id="navbarToggleExternalContent">
  <div class=" p-8">

  </div>
  <!-- <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5;
    }
  </style> -->
  <div class="marquee"> 🎉🎉🎉🎉Get 10% flat discount on your first visit 🎉🎉🎉🎉</div>

</div>
<nav class="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-start">

      <a routerLink="/cart" class="nav-link"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
          fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg> </a>
      <a routerLink="/login" class="nav-link"> <svg xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" class="bi bi-person" viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
        </svg> </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>

        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownServiceLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false"> Services </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownServiceLink">
               <li><a class="dropdown-item" routerLink="/services/bridal">Bridal Makeover</a></li>
               <li><a class="dropdown-item" routerLink="/services/nail">Nail Services</a></li>
                <li><a class="dropdown-item" routerLink="/services/beauty-tips">Beauty Tips</a></li>
                <li><a class="dropdown-item" routerLink="/services/hair">Hair Care</a></li>
                <li><a class="dropdown-item" routerLink="/services/spa">Spa</a></li>
                <li><a class="dropdown-item" routerLink="/services/essentials">Essentials</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/beauty-products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experts">Expert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/grooming">Grooming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/models">Model</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>

</nav>




